AWS_SQS_REGION=eu-west-3
AWS_SQS_VERSION=2012-11-05
AWS_SQS_ENDPOINT=http://finance_task_sqs:4568
AWS_SQS_QUEUE_URL=http://finance_task_sqs:4568/finance-queue-production

EXTERNAL_API_BASE_URL=http://finance_task
INTERNAL_API_BASE_URL=http://finance_task